<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Page</title>
    <link href="/img/header-footer/sweet-bakery (2).png" rel="icon">
    <!-------------thêm các thư viện chung--------------------------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/amination/aos/aos.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> 
    <script src="/css/amination/aos/aos.js"></script>
    <!-------------thêm các thư viện chung--------------------------------->
    <link rel="stylesheet" href="/css/footer/footer.css">
    <link rel="stylesheet" href="/css/header/header.css">
    <link rel="stylesheet" href="/css/product/product.css">
</head>
<body>
    <!-------------------------Header------------------------------>
    <!--**********************************Phần dùng chung**************************************************-->
    <div id="first-header">
        <div class="time-open-close col">
            <p class="time-open">OPEN TIME: 8:00 am</p>
            <p class="time-close">CLOSE TIME: 8:00 pm</p>
        </div>
        <% if (authStatus == 1) { %>
            <div class="navbar">
                <div class="dropdown">
                    <button class="dropbtn">Hi <%= username %>
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/admin">admin</a>
                        <a href="/profile">profile</a>
                        <a href="/follow_order">follow_order</a>
                        <form  action="/logout?_method=DELETE" method="POST">
                            <button id="logoutbtn" type="submit">Log Out</button>
                        </form>
                    </div>
                </div>
            </div>
            
            
         <% } else { %>
            <div class="btn-header ">
                <a href="/login" class="login">
                    <button class="btn-log-in">Đăng nhập</button>
                </a>
                <a href="/register">
                    <button class="btn-log-up">Đăng kí </button>
                </a>
            </div>
        <% } %>
        <div class="user">
            <img src="/img/header-footer/user.png" alt="">
        </div>
        <div class="clear"></div>
    </div>
    <%- body %> 
    <script>
        $(document).ready(function() {
            AOS.init();
        });
    </script>
    <script src="/js/public/sticknav.js"></script>
</body>
</html>