<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserProfile</title>
    <link rel="stylesheet" href="/css/footer/footer.css">
    <script src="https://use.fontawesome.com/9b42ba68a2.js"></script>
    <link rel="stylesheet" href="/css/header/header.css">
    <link rel="stylesheet" href="/css/login/login.css">
    <link rel="stylesheet" href="/css/profile/profile.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> 
</head>
<body>
    <!--Phần dùng chung-->
    <!------------------->
    <div id="first-header">
        <div class="logo-home col">
            <a href="/">
                <img src="/img/header-footer/sweet-bakery.png" alt="">
            </a>
        </div>
        <div class="name-store col">
            <p>Sweet Bakery</p>
        </div>
        <div class="btn-header">
        </div>
        <!--khi đã đăng nhập user-->
        <div class="user">
            <img src="/img/header-footer/user.png" alt="">
        </div>
        <div class="clear"></div>
    </div>
    <%- body %> 
    <script src="/js/profile/profile.js"></script>
</body>
</html>