

    <div id="nav-banner">
        <sticknav>
            <!-- (Đoạn code của navigation bar ở đây) -->
            <div class="nav">
                <a href="/">
                    <img src="img/header-footer/sweet-bakery (2).png" alt="" class="img-logo col">
                </a>
                <form action="" id="search" class="search-cell col">
                    <input class="search-input" type="text" placeholder="Bạn muốn tìm gì nè...">
                    <input class="img-search" type="image" src="img/header-footer/magnifying-glass.png" alt="">
                </form>
                <div class="nav-menu col">
                    <ul class="list-menu">
                        <li><a href="/">HOME</a></li>
                        <li><a href="/about">ABOUT US</a></li>
                        <li><a href="/menu">MENU</a></li>
                        <li><a href="/blog">BLOG</a></li>
                        <li><a href="/event">EVENT</a></li>
                        <li><a href="/contact">CONTACT</a></li>
                    </ul>
                </div>
                <i class="fa fa-navicon icon-menu icon-open"></i>
                <i class=" icon-menu icon-close fa fa-close"></i>
                
                <div class="cart col">
                    <a href="/cart">
                        <img src="img/header-footer/trolley (1).png" alt="" class="img-cart">
                    </a>
                </div>
                <div class="clear"></div>
            </div>
        </sticknav>
        <div class="content-banner" data-aos="fade-up" data-aos-delay="100"  data-aos-duration="1000">
            <h1>ABOUT US</h1>
        </div>
    </div>
    <div id="content">
        <div class="background-heard">
            <h1  data-aos="fade-up" data-aos-delay="100"  data-aos-duration="2000">Câu chuyện về người mang đến điều ngọt ngào</h1>
            <p class="p-light" data-aos="fade-up" data-aos-delay="100"  data-aos-duration="2000">Bắt nguồn từ một ý tưởng ngọt ngào</p>
            <div class="img-body" data-aos="fade-up" data-aos-delay="100"  data-aos-duration="3000">
                <img src="img/aboutus/abouts1.png" alt="">
            </div>
            <p class="p-light" data-aos="fade-up" data-aos-delay="100"  data-aos-duration="2000">Đồng hành cùng những con người cần mẫn ngọt ngào</p>
            <div class="img-body" data-aos="fade-up" data-aos-delay="100"  data-aos-duration="3000">
                <img src="img/aboutus/about2.png" alt="">
            </div>
            <p class="p-light" data-aos="fade-up" data-aos-delay="100"  data-aos-duration="2000">Công việc với chúng tôi là một sự ngọt ngào</p>
            <div class="img-body" data-aos="fade-up" data-aos-delay="100"  data-aos-duration="3000">
                <img src="img/aboutus/about3.png" alt="">
            </div>
            <h2 class="p-bold" data-aos="fade-up" data-aos-delay="100"  data-aos-duration="2000">Đăng ký thành viên để cùng chúng tôi đồng hành tạo nên một câu chuyện ngọt ngào</h2>
        </div>
        <div class="adv-title">
            <p data-aos="fade-down" data-aos-delay="100"  data-aos-duration="2000">NIỀM VUI CỦA CÁC BẠN LÀ ĐIỀU NGỌT NGÀO CỦA SWEET BAKERY</p>
        </div>
        <div class="inf-store">
            <div class="inf-col col" data-aos="fade-right" data-aos-delay="100"  data-aos-duration="1500">
                <div class="row-inf">
                    <img src="img/aboutus/icon-house.png" alt="">
                    <div class="inf-bold">
                        <p>Ngôi nhà ngọt ngào của chúng tôi</p>
                    </div>
                </div>
                <div class="row-inf">
                    <img src="img/aboutus/icon-location.png" alt="">
                    <div class="inf-light">
                        <p>22 Trần Thị Nghĩa, Gò Vấp, TPHCM</p>
                    </div>
                </div>
                <div class="row-inf">
                    <img src="img/aboutus/icon-opne.png" alt="">
                    <div class="inf-light">
                        <p>OPEN TIME: 8H00 AM</p>
                    </div>
                </div>
                <div class="row-inf">
                    <img src="img/aboutus/icon-close.png" alt="">
                    <div class="inf-light">
                        <p>CLOSE TIME: 8H00 PM</p>
                    </div>
                </div>
            </div>
            <div class="img-inf col" data-aos="fade-left" data-aos-delay="100"  data-aos-duration="1500">
                <img src="img/aboutus/about4.png" alt="">
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!-----------------------------------phần dùng chung-------------------------------------------------->
    <!-----------------------------------phần dùng chung-------------------------------------------------->
    <!-----------------------------------phần dùng chung-------------------------------------------------->
