
        <!--khi đã đăng nhập user-->
        <div class="user">
            <img src="img/header-footer//user.png" alt="">
        </div>
        <div class="clear"></div>
    </div>
    <div class="pyro"><div class="before"></div><div class="after"></div></div>
    <div id="content">
        <div class="title col"  data-aos="zoom-in" data-aos-delay="100"  data-aos-duration="3000">
            <h2>Đặt hàng <br>
                Thành công</h2>
        </div>
        <div class="img-test col" >
            <img src="img/order/oder-gif.gif" alt="">
        </div>
        <div class="clear"></div>
    </div>