
    <!--Header-->
    <!-------------------------phần dùng chung--------------------------------------------->
    <div id="nav-banner">
        <sticknav>
            <!-- (Đoạn code của navigation bar ở đây) -->
            <div class="nav">
                <a href="/">
                    <img src="img/header-footer/sweet-bakery (2).png" alt="" class="img-logo col">
                </a>
                <form action="" id="search" class="search-cell col">
                    <input class="search-input" type="text" placeholder="Bạn muốn tìm gì nè...">
                    <input class="img-search" type="image" src="img/header-footer/magnifying-glass.png" alt="">
                </form>
                <div class="nav-menu col">
                    <ul class="list-menu">
                        <li><a href="/">HOME</a></li>
                        <li><a href="/about">ABOUT US</a></li>
                        <li><a href="/menu">MENU</a></li>
                        <li><a href="/blog">BLOG</a></li>
                        <li><a href="/event">EVENT</a></li>
                        <li><a href="/contact">CONTACT</a></li>
                    </ul>
                </div>
                <i class="fa fa-navicon icon-menu icon-open"></i>
                <i class=" icon-menu icon-close fa fa-close"></i>
                
                <div class="cart col">
                    <a href="/cart">
                        <img src="img/header-footer/trolley (1).png" alt="" class="img-cart">
                    </a>
                </div>
                <div class="clear"></div>
            </div>
        </sticknav>
        <div class="content-banner" data-aos="fade-up" data-aos-delay="100"  data-aos-duration="1000">
            <h1>BLOG</h1>
        </div>
    </div>
    <div id="content">
        <div class="main-content col full-width">
            <div class="fade-scroll"  data-aos="fade-down" data-aos-delay="100"  data-aos-duration="1000">
                <p class="p-light"><strong class="first-word" style="font-size: 40px">V</strong>ào một ngày mưa, khi đang vùi đầu vào đóng sách vở. Đột nhiên ý tưởng ấy lượn qua đầu tôi. Một cái gì đó ngọt ngào nhỉ? 
                    Và<br>
                    Cái tên Sweet Bakery hiện lên.<br>
                    Ôi! Một câu chuyện ngọt ngào<br>
                </p>
                <h2>Tại sao chúng tôi lại đặt biệt?</h2>
                <p class="p-light">Mở cửa hàng bánh ngọt để kinh doanh luôn là mơ ước và hướng đi của rất nhiều người, đặc biệt là các bạn trẻ có đam mê với bánh ngọt và kinh doanh bánh ngọt. Tuy nhiên, không phải cứ đam mê, có mơ ước là sẽ thành công. Trên thực tế, bạn cần trang bị cho mình những kinh nghiệm mở tiệm bánh ngọt từ A – Z thì mới bắt tay vào xây dựng và làm giàu từ bánh ngọt.</p>
                <div class="img-main-content">
                    <img src="img/blog/img-content.png" alt="">
            </div>
            </div>
            <p class="p-light" style="display: inline;">Tags:</p>
            <span>Ngọt ngào</span>
            <span>Đặt biệt</span>
            <span>Khởi đầu</span>
        </div>
        <div class="widget full-width col">
            <div class="adv-my-sweet"  data-aos="fade-down" data-aos-delay="100"  data-aos-duration="1000">
                <p class="title">ĐIỀU NGỌT NGÀO NGÀY HÔM NAY CỦA TÔI</p>
                <div class="img-row1">
                    <div class="img-adv" data-aos="flip-left" data-aos-delay="400"  data-aos-easing="ease-out-cubic"
                    data-aos-duration="3000">
                        <img src="img/blog/dao-4.jpg" alt="">
                    </div>
                    <div class="img-adv" data-aos="flip-left" data-aos-delay="400" data-aos-easing="ease-out-cubic"
                    data-aos-duration="3000">
                        <img src="img/blog/xoai-4.jpg" alt="">
                    </div>
                </div>
                <div class="img-row2" data-aos="flip-left" data-aos-delay="400"  data-aos-easing="ease-out-cubic"
                data-aos-duration="3000">
                    <img src="img/blog/xoài.jpg" alt="">
                </div>
            </div>
            <div class="form-sign-up-quickly"  data-aos="fade-down" data-aos-delay="100"  data-aos-duration="1000">
                <form action="">
                    <p class="form-title">ĐĂNG KÝ NHANH</p>
                    <p class="p-light" style="margin-bottom: 0; text-align: left;">Tên tài khoản</p>
                    <input class="input-inf" type="text" id="name">
                    <p class="p-light"style="margin-bottom: 0;  text-align: left;">Email</p>
                    <input class="input-inf" type="email" name="email" id="email">
                    <p class="p-light" style="margin-bottom: 0px;  text-align: left;">Mật khẩu</p>
                    <input class="input-inf" type="password" name="pwd" id="pwd">
                    <p class="p-light" style="margin-bottom: 0px;  text-align: left;">Nhập lại mật khẩu</p>
                    <input class="input-inf" type="password" name="repwd" id="repwd">
                    <input type="submit" value="ĐĂNG KÝ" class="btn-sign-up">
                </form>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="blog-relate">
        <div class="title"><h2>Bài viết liên quan</h2></div>
        <div class="list-blog">
            <div class="post-blog half-width" style="margin-left: 0;"  data-aos="zoom-in" data-aos-delay="100"  data-aos-duration="1000">
                <img src="img/blog/blog1.png" alt="">
                <p class="title-blog">Điều ngọt ngạo mỗi ngày của chúng ta</p>
                <p class="p-light">Ngày hôm đó khi chúng tôi mở của hàng chúng tôi đã nhìn thấy một chàng trai trẻ đứng chờ bên ngoài...</p>
                <a href="/blog_child" class="more">Xem thêm</a>
            </div>
            <div class="post-blog half-width" data-aos="zoom-in" data-aos-delay="100"  data-aos-duration="1000">
                <img src="img/blog/blo2.png" alt="">
                <p class="title-blog">Tôi là người bán bánh ngọt</p>
                <p class="p-light">Tôi không muốn là một người vĩ đại. Tôi là người bán bánh ngọt. Niềm vui của khách hàng là điều vĩ đại nhất...</p>
                <a href="/blog_child" class="more">Xem thêm</a>
            </div>
            <div class="post-blog half-width" data-aos="zoom-in" data-aos-delay="100"  data-aos-duration="1000">
                <img src="img/blog/blog3.png" alt="">
                <p class="title-blog">Trong bánh có cái gì đó!</p>
                <p class="p-light">Một ngày đẹp trời, một khách hàng đến nối với tôi rằng trong bánh có cái gì đó. Tôi thề rằng tôi đã......</p>
                <a href="/blog_child" class="more">Xem thêm</a>
            </div>
            <div class="post-blog half-width" data-aos="zoom-in" data-aos-delay="100"  data-aos-duration="1000">
                <img src="img/blog/blog4.png" alt="">
                <p class="title-blog">Tại sao chúng tôi cãi nhau</p>
                <p class="p-light">Điều mà ai cũng biết là chúng tôi là một gia đình hạnh phúc và ngọt ngào. Nhưng có một điều chúng tôi không ....</p>
                <a href="/blog_child" class="more">Xem thêm</a>
            </div>
            <div class="post-blog half-width" data-aos="zoom-in" data-aos-delay="100"  data-aos-duration="1000">
                <img src="img/blog/blog5.png" alt="">
                <p class="title-blog">Chúng tôi thật sự có..cô đơn</p>
                <p class="p-light">Hẳn là không ai nghĩ những người luôn mang đến sự ngọt ngào cho người khác sẽ cô đơn. Hẳn rồi......</p>
                <a href="/blog_child" class="more">Xem thêm</a>
            </div>
        </div>
    </div>
    <!---------------------------------footer----------------------------------------------------------->
    <!---------------------------------phần dùng chung----------------------------------------------------------->
 