
    <div id="content">
        <h1>Trong bánh có cái gì đó?</h1>
        <div class="main-content">
            <p>Vào một ngày đẹp trời một khách hàng đến nói với tôi rằng:</p>
            <p>-	Thưa cô, sáng nay tôi đã mua vài cái Tiramisu tại cửa hàng. Khi về nhà tôi nhận ra trong bánh có cái gì đó!</p>
             <p> Tôi thề rằng tôi đã hoang mang đến độ chân nhũng cả ra. Không thể như vậy. Những chiếc bánh của chúng tôi sáng nay đều là những chiếc bánh mới nóng vừa ra lò. Cô bạn của tôi, người phụ trách mẻ bánh đó dường như suýt nữa bị chồng li dị vì mải mê kiểm tra nguyên liệu làm bánh vào tối qua mà bỏ lỡ Kỷ niệm 10 năm ngày cưới với chồng. Cô ấy dường như chỉ thiếu soi xem từng hạt bột có bằng nhau không thôi. Vậy nên việc có gì trong bánh là điều không thể xảy ra.</p>
            <p>-	Ôi! Thật đáng tiếc nhưng thưa quý khách tôi cam đoan là không hề có điều lạ gì trong bánh của chúng tôi cả ngoại trừ những nguyên liệu tốt nhất. Và nếu có điều đó xảy ra chúng tôi đồng ý bồi thường bất cứ điều gì quý khách mong muốn.</p> 
            <p>Bằng sự kiêu hãnh và lòng tự trọng của một người đầu bếp tôi thản thốt đáp lại vị khách. Vẻ mặt vị khách đó vẫn kiên định cứ như những gì người đó nói là sự thật.</p>
            <p>-	Vâng, nhưng ngoài nguyên liệu tôi còn tìm thấy cả sự tận tâm và đầy ngọt ngào trong chiếc bánh của tôi cơ mà.</p>
            <p>Thế đấy! Tôi suýt thì lao đến và ôm chầm lấy vị khách nếu cô bạn không kéo tôi lại.</p>
        </div>
        <p class="adv">ĐĂNG KÝ THÀNH VIÊN NGAY ĐỂ TRỞ THÀNH THÀNH VIÊN TRONG NGÔI NHÀ SWEET BAKERY CỦA CHÚNG TÔI</p>
        <div class="btn-sign-in">
            <a href="./register"><button>ĐĂNG KÝ</button></a>
        </div>
    </div>
    <!--footer-->
