
    <div id="content-contact">
        <div class="contain">
            <div class="title-contact">
                <p>Bạn đang cần giúp đỡ?</p>
                <p>Chúng tôi có thể giúp gì cho bạn?</p>
            </div>
            <div class="row-contact">
                <div class="inf-contact">
                    <p style="text-align: center; font-size: 22px; font-weight: 600; margin-top: 30px;">Hãy gửi ý kiến của bạn đến chúng tôi ở đây</p>
                    <div class="btn-form">
                        <button>FORM GÓP Ý</button>
                    </div>
                    <p style="text-align: center; font-size: 22px; font-weight: 600; margin-top: 30px;">Hoặc liên hệ trực tiếp với chúng tôi</p>
                    <div class="contact-inf">
                        <div class="row">
                            <div class="img">
                                <img src="img/contact/phone.png" alt="">
                            </div>
                            <p style="margin-left: 4px;  display: inline;font-size: 18px;color: #A45812;font-family: WorkSansB;">0706811338</p>
                        </div>
                        <div class="row">
                            <div class="img">
                                <img src="img/contact/email.png" alt="">
                            </div>
                            <p style="margin-left: 4px; display: inline;font-size: 18px;color: #A45812;font-family: WorkSansB;">sweetbakery@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="img-contact">
                    <div class="img-contain">
                        <img src="img/contact/contact.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="form-contact">
            <div class="form-title">
                <p>FORM GÓP Ý</p>
            </div>
            <form action="">
                <input type="text" placeholder="HỌ VÀ TÊN">
                <input type="text" placeholder="SỐ ĐIỆN THOẠI">
                <input type="text" placeholder="GÓP Ý CỦA BẠN">
                <button class="btn-send-contact">GỬI</button>
            </form>
        </div>
    </div>
    <!--footer-->
    <!------------------Phần dùng chung------------------------->